<div class="container">
  <google-map
    height="500px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
  >
    <map-marker *ngFor="let marker of markers" [position]="marker"></map-marker>
  </google-map>

  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput [(ngModel)]="address" placeholder="Escribe una dirección">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendAddress()">Enviar</button>
  </div>
</div>
